#aside {
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  max-width: 340px;
}

@media (min-width: 860px) and (max-width: 992px) {
  #aside {
    max-width: 240px;
  }
}

@media (max-width: 859.9px) {
  #aside {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    border-radius: 0px;
    position: absolute;
    left: 0px;
    top: 58px;
    display: none;
    max-width: 100%;
    min-height: calc(100vh - 58px);
  }

  #aside.-open {
    display: flex;
  }
}