#search-bar {
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;
  border-left-width: 0px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  max-width: 560px;
  height: 40px;
}

#search-bar > .input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.5rem;
  border-width: 0px;
  display: flex;
  flex: 1 1 0%;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding-left: 1rem;
}

#search-bar > .action {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-width: 0px;
  width: 60px;
}

#search-bar > .action > .icon {
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
  transform: scale(0.8);
}