.main-title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
}

.sub-title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
}